.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HomeContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px
}

.imagecard {
  border: 2px solid black;
  max-width: 400px;
  padding: 2px;
}

.DashboardCard {
  border: 2px solid black;
  max-width: 400px;
  padding: 2px;
}

